<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Lessons FrontEnd Basic</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/">
                    <img src="./images/icons/logo.svg" alt="Logo" title="Hillel It Scool">
                </a>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="/" class="menu__item-link">Головна</a>
                    </li>
                    <li class="menu__item">
                        <a href="/" class="menu__item-link">Заняття</a>
                        <ul class="sub-menu">
                            <li class="sub-menu__item">
                                <a href="./Lessons/Lesson-1/index.html" class="sub-menu__item">Заняття 1</a>
                            </li>
                            <li class="sub-menu__item">
                                <a href="./Lessons/Lesson-2/index.html" class="sub-menu__item">Заняття 2</a>
                            </li>
                            <li class="sub-menu__item">
                                <a href="./Lessons/Lesson-3/index.html" class="sub-menu__item">Заняття 3</a>
                            </li>
                            <li class="sub-menu__item">
                                <a href="./Lessons/Lesson-4/index.html" class="sub-menu__item">Заняття 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="/" class="menu__item-link">Наша група</a>
                    </li>
                    <li class="menu__item">
                        <a href="/" class="menu__item-link">Про нас</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <h1>All Lessons</h1>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <h2>Footer</h2>
        </div>
    </footer>
    <script src="./js/main.js"></script>
</body>

</html>