* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eeeff1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  display: inline;
}

h1 {
  width: 541px;
  height: 45px;
  font-size: 40px;
  line-height: 79px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 100px;
  margin-bottom: 80px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 30px;
}

.text-box1 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 80px;
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.text-box2 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  overflow: hidden;
}

h2 + p {
  max-width: 540px;
  margin: auto;
}

.section {
  background-color: #eeeff1;
  padding-bottom: 50px;
}

.section_white {
  background-color: #f9f9f9;
}

.indent_top_bottom {
  padding-bottom: 70px;
  padding-top: 70px;
}

.navbar ul {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar ul li {
  display: inline;
}

.navbar ul li:not(:first-child) {
  margin-left: 20px;
}

.section_blue {
  background-color: #34547a;
  color: #eeeff1;
  padding: 30px;
}

button {
  width: 225px;
  height: 65px;
  padding: 10px 20px;
  background-color: #34547a;
  text-transform: uppercase;
  display: block;
  color: #eeeff1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 141px;
}

.button_hover:hover {
  background-color: #3f699c;
}

.blue_block {
  text-align: center;
}

.project_item {
  display: inline-block;
  padding-left: 50px;
  text-align: left;
}

.projects_item_text {
  padding-left: 20px;
  padding-right: 20px;
}

.project_item img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.project_item div {
  float: right;
}

iframe {
  width: 100%;
  padding-top: 50px;
}
