* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 50px;
}

.outer_block {
  text-align: center;
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 100px;
}

.card {
  display: inline-block;
  width: calc(33.333% - 30px);
  background-color: #e0e0e0;
  font-size: 16px;
  margin: 15px;
  padding-bottom: 20px;
  vertical-align: top;
}

.card p {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.img_box {
  min-height: 130px;
  width: 130px;
  height: 130px;
  margin-left: 35px;
  overflow: hidden;
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s linear all;
}

.card_title {
  padding-bottom: 10px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.card_box {
  padding-left: 20px;
  padding-right: 20px;
}
